node-red-flow
[{"id":"caddb137.50e57","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"95645064.77555","type":"OpcUa-Client","z":"caddb137.50e57","endpoint":"cae3d2db.b4979","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","name":"OPC-UA","x":460,"y":340,"wires":[["367155c1.2ac5ba","6fc127dc.fc0ce8","685c8c65.6e7f94"]]},{"id":"78491050.25311","type":"inject","z":"caddb137.50e57","name":"Counter","topic":"ns=3;s=temp;datatype=Double","payload":"","payloadType":"date","repeat":"3600","crontab":"","once":true,"onceDelay":"1","x":280,"y":340,"wires":[["95645064.77555"]]},{"id":"367155c1.2ac5ba","type":"debug","z":"caddb137.50e57","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":690,"y":340,"wires":[]},{"id":"6fc127dc.fc0ce8","type":"ui_chart","z":"caddb137.50e57","name":"","group":"d1224fc8.164ab","order":10,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":670,"y":420,"wires":[[]]},{"id":"685c8c65.6e7f94","type":"ibmiot out","z":"caddb137.50e57","authentication":"apiKey","apiKey":"1ed60dbb.6621c2","outputType":"evt","deviceId":"OPCUA1","deviceType":"OPCUA","eventCommandType":"abc","format":"json","data":"payload","qos":0,"name":"IBM IoT","service":"registered","x":680,"y":200,"wires":[]},{"id":"cae3d2db.b4979","type":"OpcUa-Endpoint","z":"","endpoint":"opc.tcp://158.177.214.35:53530/OPCUA/SimulationServer","secpol":"None","secmode":"NONE","login":false},{"id":"d1224fc8.164ab","type":"ui_group","z":"","name":"Default","tab":"e631687d.cfeed8","disp":true,"width":"23","collapse":false},{"id":"1ed60dbb.6621c2","type":"ibmiot","z":"","name":"a-lt9l36-7ilgo0agxl","keepalive":"60","serverName":"lt9l36.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"e631687d.cfeed8","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]
