node-red-flow
[{"id":"64c9fcc4.47c714","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"db399f1b.722ce","type":"OpcUa-Client","z":"64c9fcc4.47c714","endpoint":"fdce842.744e978","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","name":"OPC-UA","x":460,"y":340,"wires":[["34d2010.aa0be","619a113.5298cf"]]},{"id":"dfa211ed.935be","type":"inject","z":"64c9fcc4.47c714","name":"Get temp from OPC UA server","topic":"ns=3;s=temp;datatype=Double","payload":"","payloadType":"date","repeat":"60","crontab":"","once":true,"onceDelay":"1","x":230,"y":340,"wires":[["db399f1b.722ce"]]},{"id":"34d2010.aa0be","type":"debug","z":"64c9fcc4.47c714","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":670,"y":400,"wires":[]},{"id":"b4c01627.a126f8","type":"inject","z":"64c9fcc4.47c714","name":"Send test event to IoT platform","topic":"","payload":"{\"d\":{\"temp\":\"134\"}}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":430,"y":280,"wires":[["619a113.5298cf"]]},{"id":"619a113.5298cf","type":"wiotp out","z":"64c9fcc4.47c714","authType":"d","qs":"false","qsDeviceId":"","deviceKey":"7016f60f.03b198","deviceType":"","deviceId":"","event":"event","format":"json","qos":"","name":"WIoTP","x":670,"y":340,"wires":[]},{"id":"fdce842.744e978","type":"OpcUa-Endpoint","z":"","endpoint":"opc.tcp://xxx.xxx.xxx.xx:53530/OPCUA/SimulationServer","secpol":"None","secmode":"NONE","login":false},{"id":"7016f60f.03b198","type":"wiotp-credentials","z":"","name":"","org":"lt9l36","serverName":"lt9l36.messaging.internetofthings.ibmcloud.com","devType":"OPCUA","devId":"OPCUA1","keepalive":"60","cleansession":true,"tls":"","usetls":false}]
